Django==2.0.6
django-cors-headers==2.3.0
django-webpack-loader==0.6.0
djangorestframework==3.8.2
django-rest-auth==0.9.3
git+https://github.com/SergioVenicio21/eyeD3.git
mutagen==1.40.0
pathlib==1.0.1
Pillow==5.1.0
python-magic==0.4.15
pytz==2018.5
six==1.11.0
python-decouple==3.1
gunicorn==19.8.1
django-s3-folder-storage==0.5
Collectfast==0.6.2
dj-database-url==0.5.0
psycopg2-binary==2.7.5
