Django==3.1.4
django-cors-headers==3.5.0
django-webpack-loader==0.7.0
djangorestframework==3.12.2
django-rest-auth==0.9.5
eyeD3==0.9.5
mutagen==1.45.1
pathlib==1.0.1
Pillow==8.0.1
python-magic==0.4.18
pytz==2020.4
six==1.15.0
python-decouple==3.3
gunicorn==20.0.4
Collectfast==2.2.0
dj-database-url==0.5.0
psycopg2-binary==2.8.6
redis==3.5.3
djangorestframework-simplejwt==4.6.0
dependency-injector==4.5.4
