{% extends 'core/base.html' %}
{% block title %}Adicionar músicas{% endblock %}
{% load static %}

{% block body %}
<div class="container-fluid">
  <div class="mt-5"></div>
  <div class="row justify-content-center">
    <div class="col-6">
      <form id="form_musica">
        {% for field in form %}
          <div class="form-group">
            <label for="{{ field.name }}">{{ field.name }}</label>
            {{ field }}
          </div>
        {% endfor %}
        <div class="btn_wrapper text-center">
          <input type="hidden" id="file">
          <button type="button" id="btn-save" class="btn btn-primary">
            <i class="save" data-feather="save"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="addmusic" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar musica</h5>
      </div>
      <div class="modal-body">
        <p id="modal-text" class="text-center"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-close" class="btn text-center" data-dismiss="modal">
          <i data-feather="x"></i>
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
  <script src="{% static 'core/js/token.js' %}"></script>
  <script src="{% static 'core/js/add_music.js' %}"></script>
{% endblock %}
