{% extends 'core/base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block body %}
<div class="mt-5"></div>
<div class="container-fluid">
    <div class="container">
      {% if bandas %}
        <div class="row">
          {% for banda in bandas %}
              <div class="col-md-4 mb-5">
                  <div class="card">
                    {% if banda.imagen %}
                      <img class="card-img-top" src="{{ banda.imagen.url }}">
                    {% else %}
                      <img class="card-img-top" style="background-color: #000" src="/media/images/icon.png" alt="Imagen não cadastrada">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ banda.nome }}</h5>
                      <a href="{% url 'albuns' banda.id %}" class="btn btn-warning">
                          Abrir
                          <i class="fas fa-paper-plane"></i>
                      </a>
                    </div>
                  </div>
              </div>
          {% endfor %}
        </div>
        {% include 'core/pagination.html' %}
      {% else %}
              <div class="row">
                <div class="col-12 text-center">
                  <h4>Nenhuma banda encontrada</h4>
                  <div class="btn-wrapper mt-5"></div>
                  <a href="/" class="btn btn-danger">
                    Voltar
                    <i class="fas fa-home"></i>
                  </a>
                </div>
              </div>
      {% endif %}
    </div>
</div>
{% endblock %}
