{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block meta %}{% endblock %}
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/icons.css' %}">
  {% block css %}{% endblock %}
  <title>{% block title %}Music Player{% endblock %}</title>
</head>
<body>
{% include 'core/navbar.html' %}
{% block body %}
{% endblock %}
</body>
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/popper.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="{% static 'core/js/feather.min.js' %}"></script>
{% block js %}{% endblock %}
 <script>
   feather.replace();
 </script>
</html>
