{% extends 'core/base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
{% endblock %}

{% block body %}
<div class="mt-5"></div>
<div class="container-fluid">
    <div class="container">
      {% if generos %}
        <div class="row">
          {% for genero in generos %}
              <div class="col-md-4 mb-5">
                  <div class="card">
                    {% if genero.imagem %}
                      <img class="card-img-top" src="{{ genero.imagem.url }}">
                    {% else %}
                      <img class="card-img-top" style="background-color: #000" src="{{MEDIA_URL}}/media/images/icon.png" alt="Imagen não cadastrada">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{MEDIA_URL}}{{ genero.descricao }}</h5>
                      <a href="{% url 'bandas' genero.id %}" class="btn btn-warning">
                          Abrir
                          <i class="fas fa-paper-plane"></i>
                      </a>
                    </div>
                  </div>
              </div>
          {% endfor %}
        </div>
        {% include 'core/pagination.html' %}
      {% else %}
              <div class="row">
                <div class="col-12 text-center">
                  <h4>Nenhum genero encontrado</h4>
                  <div class="btn-wrapper mt-5"></div>
                  <a href="/" class="btn btn-danger">
                    Voltar
                    <i class="fas fa-home"></i>
                  </a>
                </div>
              </div>
      {% endif %}
    </div>
</div>
{% endblock %}
