{% extends 'core/base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'core/css/player.css' %}">
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="mt-5"></div>
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            {% if album.capa %}
              <img class="card-img-top" src="{{ album.capa.url }}">
            {% else %}
              <img class="card-img-top" style="background-color: #000" src="/media/images/icon.png" alt="Imagen não cadastrada">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ album.nome }}</h5>
              <p class="card-text">{{ album.banda.nome }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 offset-md-5">
            <ul id="playlist" class="list-group"></ul>
            <div class="controls">
                <div id='bg'>
                  <audio id="audio" controls></audio>
                </div>
                <span class="prev">
                  <i class="fas fa-step-backward"></i>
                </span>
                <span class="pause-play">
                  <i class="fas fa-play play"></i>
                  <i class="fas fa-pause pause"></i>
                </span>
                <span class="next">
                  <i class="fas fa-step-forward"></i>
                </span>
                <p class="music-description"></p>
                <div class="control-volume">
                  <i class="fas fa-volume-up volume"></i>
                  <i class="fas fa-volume-off mute"></i>
                  <input id="vol-control" type="range" min="0" max="100" step="1" />
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  let album_id = {{ album.id }};
</script>
<script src="{% static 'core/js/player.js' %}"></script>
{% endblock %}
