{% extends 'core/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'core/css/plyr.min.css' %}">
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-end">
        <div class="col-md-4">
            <audio id="player" controls></audio>
            <ul id="playlist" class="list-group"></ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
  let album_id = {{ album.id }};
</script>
<script src="{% static 'core/js/player.js' %}"></script>
<script src="{% static 'core/js/plyr.polyfilled.js' %}"></script>
{% endblock %}