{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="{% static 'logo/icon.png'%}" alt="Music Player" width="75rem">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="menu_generos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Generos
          </a>
          <div class="dropdown-menu" aria-labelledby="menu_generos">
            <a class="dropdown-item" href="{% url 'add_generos' %}">
              Adicionar
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="menu_bandas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Bandas
          </a>
          <div class="dropdown-menu" aria-labelledby="menu_musicas">
            <a class="dropdown-item" href="{% url 'add_bandas' %}">
              Adicionar
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="menu_albuns" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Albuns
          </a>
          <div class="dropdown-menu" aria-labelledby="menu_albuns">
            <a class="dropdown-item" href="{% url 'add_albuns' %}">
              Adicionar
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="menu_musicas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Músicas
          </a>
          <div class="dropdown-menu" aria-labelledby="menu_musicas">
            <a class="dropdown-item" href="{% url 'add_musicas' %}">
              Adicionar
              <i class="fas fa-plus-circle"></i>
            </a>
          </div>
        </li>
      {% endif %}
    </ul>
    {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown usuario-image">
          <a class="nav-link dropdown-toggle" href="#" id="menu_usuario" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.avatar%}
              <img src="{{ request.user.avatar.url }}" alt="{{ request.user.nome }}" class="avatar">
            {% endif %}
            {{ request.user.nome }}
          </a>
          <div class="dropdown-menu" aria-labelledby="menu_usuario">
            <a href="{% url 'avatar' %}" class="dropdown-item">
              Editar avatar
              <i class="fas fa-user-edit"></i>
            </a>
            <a class="dropdown-item" href="{% url 'logout' %}">
              Logout
              <i class="fas fa-sign-out-alt text-danger"></i>
            </a>
          </div>
        </li>
      </ul>
    {% endif %}
  </div>
</nav>
