<form method="GET">
  <div class="form-row justify-content-center align-items-center">
    <div class="col-md-2">
      <input type="text" class="form-control" name="page" value="{{ page }}" placeholder="Página">
    </div>
    <div class="col-md-2">
      <input type="text" class="form-control" name="per_page" value="{{ per_page }}" placeholder="Itens por página">
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary">
        <i class="fas fa-filter"></i>
      </button>
    </div>
    Página: {{ page }} / {{ total_pages }}
  </div>
</form>
