#bg {
    display: none;
}
.navbar-brand {
  padding-left: 0.5rem;
}
.navbar {
  padding: 0!important;
}
#id_avatar {
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity:0;
  background-color:transparent;
  color:transparent;
  cursor: pointer;
}
.avatar {
    vertical-align: middle;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}
#avatar_previous {
  border-radius: 1.5%;
  width: 100%;
}
.usuario-image {
  border-radius: 5%;
}
.usuario-image:hover {
  transition: all 0.5s;
  background-color: rgba(30, 33, 35, 0.5);
}
#id_album, .bs-placeholder {
  color: #000!important;
}
.form-control > .dropdown-toggle {
  background-color: #f7f7f9;
  border: thin solid #ced4da;
  color: #000;
}
.previous_clear {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
}
