#playlist {
  max-height: 20rem;
  overflow-y: auto;
  position: relative;
  z-index: inherit;
}

#playlist li {
  cursor: pointer;
  position: relative;
  z-index: inherit;
}

.music-info {
  display: block;
  margin-left: 1rem;
}

.like {
  display: block;
  position: absolute;
  left: 0.5rem;
}

.liked {
  color: #e80606!important;
}

.prev, .next {
  padding-right: 0.5rem;
}
.volume, .mute {
    position: absolute;
    right: 6rem;
    margin-top: 0.1em;
}
.mute {
  margin-bottom: 0.2rem;
}
.ordem {
  display: inline;
}

.play:hover, .mute:hover, .volume:hover,
.prev:hover, .next:hover, .pause:hover, .repeat:hover {
  transition: all 0.3s;
  color: #000!important;
}

.control-active {
  color: #000!important;
}

.controls {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    border: thin solid #dee6f2;
    border-top: 0;
    background: #343a40;
    opacity: 0.8;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-top: thin solid #5b5b5b;
}
.controls span, .volume, .mute {
    text-align: left;
    cursor: pointer;
}
.prev, .next, .pause-play, .repeat, .volume, .random, .mute {
  color: #FFF;
}

.control-volume {
  float: right;
  width: 5.5em;
}

.music-description {
  display: inline;
  color: #FFF;
}

.music-active {
  background-color: #343a40;
  opacity: 0.8;
  color: #FFF;
}

#vol-control {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0.1em;
    background: transparent;
    width: 5em;
}

#vol-control:hover {
    opacity: 1;
}

#vol-control::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background: #FFF;
    cursor: pointer;
    margin-top: -0.24rem;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 100%;
}

#vol-control::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 2px;
    background: #FFF;
    cursor: pointer;
    border-radius: 100%;
}

#vol-control::-ms-track {
    width: 95%;
    cursor: pointer;
    color: transparent;
}

#vol-control::-webkit-slider-runnable-track {
    width: 100%;
    height: 7.5px;
    cursor: pointer;
    background: #FFF;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
    margin-bottom: 0.05rem;
}
#vol-control::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #FFF;
  border-radius: 1.3px;
  border: 0.1px solid #010101;
}
